<!-- Expecting a 24dpi white frame and will be open when the media query evaluates to false-->
<!--Scrap:   style="max-width: 220px;"-->
<md-sidenav class="md-sidenav-left" md-is-locked-open="false" md-component-id="left" md-whiteframe="24">
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div flex="70" layout="row" layout-align="center center" layout-wrap flex-offset="5">
                <!--<md-icon md-svg-src="assets/img/side-menu/walmart-logo.svg" aria-label="Walmart-logo"></md-icon>-->
                <md-icon md-font-set="material-icons" style="fill:red;">code</md-icon>
                <h1>ODR-Online</h1>
            </div>
            <div flex="10" flex-offset="5" layout-align="end">
                <md-button class="md-icon-button" aria-label="Close">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-button class="md-primary"></md-button>
        <!--Adding more content to see overflow-->
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>
        <p>How am i ?</p>

    </md-content>
</md-sidenav>