<md-toolbar class="md-hue-2" ng-controller="toolbar.controller">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-disabled="false" ng-click="toggleLeft('left')">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <span flex></span>
        <h2>
            <span>Title</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="alert()">
            <md-icon md-font-set="material-icons">settings</md-icon>
        </md-button>
    </div>
</md-toolbar>