<!--<p> I am supposed to be a toolbar am i being rendered </p>-->

<!--A material design fab toolbar goes here-->

<md-fab-toolbar md-open="true" count="demo.count" md-direction="right">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary" style="background-color:#007bc4;">
            <!--The commented one's didn't work. The md-font-set is the easiest way to use icons.-->
            <!--<md-icon class="icon_home" aria-label="Home"></md-icon>-->
            <!--<i class="material-icons">face</i>-->
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
    </md-fab-trigger>

    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" class="md-icon-button">
                <!--<md-icon md-font-icon="android" aria-label="android"></md-icon>-->
                <!--<md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>-->
                <md-icon md-font-set="material-icons">home</md-icon>
            </md-button>
            <md-button aria-label="label" class="md-icon-button">
                <!--<md-icon md-font-icon="android" aria-label="android"></md-icon>-->
                <!--<md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>-->
                <md-icon md-font-set="material-icons">settings</md-icon>
            </md-button>
            <md-button aria-label="photo" class="md-icon-button">
                <!--<md-icon md-font-icon="android" aria-label="android"></md-icon>-->
                <!--<md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>-->
                <md-icon md-font-set="material-icons">mood</md-icon>country
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>